<section>
  <div class="row">

  </div>
  <form (ngSubmit)="createPost(postText)" #text="ngForm" novalidate="novalidate">
    <div>
      <textarea name="contenido" [ngModel]="text.contenido" required class="form-control" aria-label="With textarea"
        placeholder="Escribe tu mensaje"></textarea>
    </div>
    <!-- <div *ngIf="!postText.controls['contenido'].valid" class="form-control-feedback">
      No puede enviar un post vacío!
    </div> -->

    <div class="input-group-prepend">
      <button class="btn btn-outline-primary" type="submit" id="button-addon1">
        Enviar
      </button>
    </div>
  </form>
</section>
<section>
  <div class="card">
    <div class="card-header">
      Nombre Usuario
    </div>
    <div class="card-body">
      {{ this.text.contenido | json }}
      <div class="card-footer text-muted">
        <i class="fas fa-heart"></i>
      </div>
    </div>
  </div>
</section>

{{this.text.valid}}
